#extra_resources {
  position: fixed;
  bottom: -340px;
  right: 0px;
  width: 400px;
  height: 724px;
  background-color: #ADCBDA;
  color: darkBlue;
  font-family: sans-serif;
  text-align: center;
}


#profile {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 400px;
  height: 724px;
  background-color: #979FA2;
  color: darkBlue;
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
}

img {
  max-width: 120px;
  max-height: 120px;
}

.button {


}
#chatbox {
  position: fixed;
  bottom: 0px;
  left: 0px;
  max-width: 1040px;

}

input[type=submit] {
  border: none; /*rewriting standard style, it is necessary to be able to change the size*/
  height: 50px;
  width: 50px;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-style: inset outset;
  border-radius: 10px;
  font-size: inherit;
}
