#heading h1 {
    font-family: Arial Rounded MT Bold;
    margin-top: 25px;
    font-size: 100px;
    text-align: center;
    animation: fadein 8s;
    -webkit-animation: fadein 5s; /* Safari and Chrome */
  }

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.border{
  border-style: inset outset;
  border-color: green;
  border-radius: 25px;

}

.middle{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: inherit;
  animation: fadein 8s;
  -webkit-animation: fadein 8s; /* Safari and Chrome */
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}


input[type=submit] {
  border: none; /*rewriting standard style, it is necessary to be able to change the size*/
  height: 100px;
  width: 200px;
  font-size: inherit;
}

div#frm *{display:inline}

body {
    background-image: url("backgroundupdate.jpg");
    background-repeat: no-repeat;
}
