<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../resources/chatroom.css"/>
    <title>Hi, Alex!</title>
    <link rel="icon" type="image/png" href="../resources/tabimage.png"/>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src=" resources/chat.js"></script>
  <body>
    <div id = "chat">
      {{ message }}
      <form method="post" action="/chat">
        <textarea row="100" cols="100" placeholder="Chat here" name="message">Hello!</textarea>
        <input class="button" type="submit" value="Send" style="background-color: #ADCBDA; color: black;">
      </form>
    </div>


    <div id = "profile">
      <img src="{{ picture }}" alt="John" style="width: 300px">
        <h3>{{ first_name }} {{ last_name }}</h3>
        <h4> {{ job }}</h4>
        <h5>{{ city }}, {{ state }}</h5>
        <p>About Me: {{ bio }}</p>
    </div>




    <div id = "extra_resources">
      <h4>Additional Resources:</h4>
      <h5>National Suicide Prevention Lifeline:</h5>
        <a href = "tel:+1-800-273-8255">1-800-273-8255</a>
      <h5>Anxiety and Depression Association of America:</h5>
        <a href = "https://www.adaa.org/living-with-anxiety/ask-and-learn/resources">adaa.org<a>
      <h5>Veterans Crisis Line:</h5>
        <a href = "tel:+1-800-273-8255">1-800-273-8255</a>
        <br>
        <a href = "https://www.veteranscrisisline.net/"> veteranscrisisline.net</a>
      <h5>National Alliance on Mental Illness</h5>
        <a href = "https://www.nami.org/Find-Support">nami.org</a>
    </div>


  </body>
</html>
