<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../resources/chatroom.css"/>
    <title>Hi, Alex!</title>
    <link rel="icon" type="image/png" href="../resources/tabimage.png"/>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src=" resources/chat.js"></script>
  <body>
    <div id="message-box">
    </div>
    <div id = "chatbox">
      <form method="post" action="/chat">
        <textarea id="chat-area" row="100" cols="75" placeholder="Chat here" ></textarea>
        <input id="submit" class="button" type="button" value="Send" style="background-color: #ADCBDA; color: black;" />
      </form>
      <h3>{{purple}}</h3>
    </div>



  </body>
</html>
