<!DOCTYPE html>
<html>

  <head>

  <link rel="stylesheet" type="text/css" href="../resources/main.css">

    <title>Hi, Alex!</title>
    <link rel="icon" type="image/png" href="../resources/tabimage.png"/>

  </head>

  <body>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

    <div id="heading"><h1><i> Hi, Alex! </h1><i></div>

    <div id="frm" class="middle">

    <form method = "get" action = "/send" class="color">
      <input class="border" type = "submit" value = "I want help" style="font-family: Arial Rounded MT Bold; background-color: #D1B1D4; color: #3B596B"; />
    </form>

    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;



    <form method = "get" action = "/login">
      <input class="border" type = "submit" value = "I want to help" style="font-family: Arial Rounded MT Bold; background-color: #D1B1D4; color: #3B596B"/>
    </form>

    </div>

  </body>

</html>
