<!DOCTYPE html>
<html>

  <head>

  <link rel="stylesheet" type="text/css" href="../resources/main.css">

    <title>Hi, Alex!</title>

  </head>

  <body>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

    <div id="heading"><h1> Hi, Alex! </h1></div>

    <div id="frm" class="middle">

    <form method = "get" action = "/chat" class="color">
      <input class="border" type = "submit" value = "I want help" style="font-family: Gill Sans; background-color: #D1B1D4; color: black"/>
    </form>

    &nbsp;
    &nbsp;



    <form method = "get" action = "/login">
      <input class="border" type = "submit" value = "I want to help" style="font-family: Gill Sans; background-color: #D1B1D4; color: bla"/>
    </form>

    </div>

  </body>

</html>
