<!DOCTYPE html>
<html>

  <head>

    <title>Sign Up</title>

  </head>

  <body>

    <form method="post" action="/profile">
      <input type="text" name="first_name" value="First Name">
      <br>
      <input type="text" name="last_name" value="Last Name">
      <br>
      <input type="text" name="job" value="Job Title/Major">
      <br>
      <input type="text" name="city" value="City">
      <input type="text" name="state" value="State"> <!-- Make sure two-letter state code is used -->
      <br>
      <input type="text" name="bio" value="Bio">
      <br>
      <input type="submit" value="Create My Account">
    </form>

  </body>

</html>
