<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../resources/sorry.css">
    <title>We're Sorry - Hi, Alex!</title>
    <link rel="icon" type="image/png" href="../resources/tabimage.png"/>
    <style>
    body{
      background-color: #C0DFEE;
    }
    </style>
  </head>

    <body>
      <br/>
      <br/>
      <h1>We're Sorry. No counselors are available right now. Please try again later. We're here for you.</h1>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <div id="picture"><a href="/"><img src="resources/sorry.png" width="400" height="380"></a></div>





    </body>

</html>
